@{
  Layout = "_Layout";
}

@using VendorAndOrderTracker.Models;

<div class="container">
  <h1>@Model.Name</h1>

  @if (@Model.Orders.Count == 0)
  {
    <h3>There are no orders for this vendor.</h3>
  }

  <ul>
    @foreach (Order order in @Model.Orders)
    {
      <a href="/vendors/@Model.Id/orders/@order.Id"><li>@order.Title</li></a>
    }
  </ul>
  
  <a href='/vendors/@Model.Id/orders/new'>Add new order</a>
  <div class="navigation">
    <a href="/vendors">Back to all vendors</a>
    <a href="/">Home Page</a>
  </div>
  
  <form action="/vendors/@Model.Id" method="post"> 
    <button type="submit">Delete vendor</button>
  </form>
</div>