@{
  Layout = "_Layout";
}

<div class="container">
  <h2>Order Title: @Model.Title</h2>
  <h5>Order Description: @Model.Description</h5>
  <h5>Order Price: $@Model.Price</h5>
  <h5>Order Date: @Model.Date.ToLongDateString()</h5>

  <form action="/vendors/@Model.Id" method="post"> 
    <button type="submit">Delete order</button>
  </form>

  <div class="navigation">
    <a href="javascript:window.history.back()">Back to all orders</a>    
    <a href="/vendors">List of all Vendors</a>
    <a href="/">Home Page</a>
  </div>
</div>